@page "/"

<div id="app-container">
    <div id="header">
        <RadzenStack class="items-center justify-center w-100 p-2 position-relative">
            <div class="flex justify-content-between">
                <RadzenImage Path="images/icon.png" class="h-14 w-14" AlternateText="Diazzo" />
                <RadzenImage Path="images/backpack.png" class="p-2 h-14 w-14" AlternateText="url image" />
            </div>
        </RadzenStack>
    </div>
    <div id="main-view">
        @if (IsRound)
        {
            <Rounds></Rounds>
        }
    </div>
    <div id="nav-buttons" class="px-3">
        <RadzenButton class="flex-1 m-1 truncate" Text="Home" Click=@(() => SetHome())></RadzenButton>
        <RadzenButton class="flex-1 m-1 truncate" Text="Rounds" Click=@(() => SetRound()) ></RadzenButton>
        <RadzenButton class="flex-1 m-1 truncate" Text="Stats" Click=@(() => SetStats())></RadzenButton>
    </div>
</div>
