@page "/"

<div id="app-container">
    <div id="header">
        <RadzenStack class="flexssss flex-1 justify-between w-100 p-2 position-relative">
            <RadzenImage Path="images/icon.png" class="w-24" AlternateText="url image" />
            <div class="font-mono text-lg fw-bolder absolute left-8 top-8">Diazzo</div>
            <div class="bg-light flex flex-1"></div>
        </RadzenStack>
    </div>
    <div id="main-view">

    </div>
    <div id="nav-buttons" class="px-3">
        <RadzenButton Text="Rounds"></RadzenButton>
        <RadzenButton Text="Analytics"></RadzenButton>
    </div>
</div>
